<RadzenLabel Text=@Label Component=@Component />
<span style="color: #e32;">*</span>
@ChildContent
<RadzenRequiredValidator Popup="true" Component=@Component Text=@ValidationMessage Style="position: absolute" />